<div class="main-app">
    <nav class="navbar navbar-dark bg-primary navbar-fixed-top">
         <a class="navbar-brand mb-0" href="#">FlickrSearch</a>
           <div class="nav navbar-nav navbar-right float-sm-right form-inline"> 
              <label class="sr-only" for="searchInput">Search Flickr</label>
              <div class="form-group input-group">
                <input type="search" id="searchInput" class="form-control" placeholder="Search..." 
                 (keyup)="onSearch($event.target.value)" >
                <i class="fa fa-search input-group-addon"></i>
             </div>
           </div>
    </nav>
    <div *ngIf="searching"  class="searching-indicator-div"></div>
    <div class="container-fluid" >

        <div *ngIf="!searchTerm" class="no-search-criteria">
          <p class="lead text-xs-center text-muted">Please use the search bar to find images.<br>
          To refine your search, use comma separated search terms.</p>
        </div>  
        <div *ngIf="noMatchesFound()" class="no-results-message">
          <p class="lead text-xs-center">Oops! There are no matching images for "<strong>{{ searchTerm }}</strong>".<br>
          Please try entering a different search term.</p>
        </div>

        <div class="card-columns">
            <div *ngFor="let i of images" class="card">
              <a class="card-img-top" target="_blank" 
              href="{{i.linkUrl}}" title="{{i.title}}"><img class="card-img-top" src="{{i.mediaUrl}}" alt="{{i.title}}"></a>
              <div class="card-block">
                <p class="card-text text-xs-right date-taken"><small class="text-muted">Taken on {{i.dateTaken | date:"dd/MM/yyyy"}}</small></p>
                <h4 class="card-title">{{i.title}}</h4>
                <p class="card-text">{{i.author}}</p>
              </div>
              <div class="card-footer">
                <span class="fa fa-tag"></span> <span *ngFor="let tag of i.tags" class="tag tag-info">{{tag}}</span>
              </div>
            </div>
        </div>

        

    </div>
</div>
