$brand-primary: #035296;

@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Roboto|Open+Sans");


.card-columns {
  @include media-breakpoint-up(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
   @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 6;
  }
  
}

.navbar {
   @include media-breakpoint-up(lg) {
    padding: .5em 6em;
   }
}


.main-app {
    font-family: "Open Sans",Arial,sans-serif;
    padding-top: 80px;
    background: #fffefe;
    @include media-breakpoint-only(xs) {
      padding-top: 120px;
    }
}

h4 {
  font-family: "Roboto","Open Sans",Arial,sans-serif;
}

.lead {
    margin-top: 60px;
    @include media-breakpoint-up(md){
         margin-top: 80px;
    }
}

#searchInput, #searchInput + i {
    background: white
}
#searchInput {
     @include media-breakpoint-up(sm){
        width: 25em;
     }
}

/*-------- Searching bar ----------*/
.searching-indicator-div {
    height: 3px;
    background: #428bca;
    position: fixed;
    animation: progressbar 2s;
    top: 54px;
    width: 98%;
    @include media-breakpoint-only(xs) {
      top: 108px;
    }
}

@keyframes progressbar {
  0% {
    width: 0;
  }
  100% {
    width: 98%;
  }
}

/* ---------  Cards  ----------- */

img.card-img-top {
  width: 100%;
}
.card-text {
  font-size: 80%;
}
.date-taken {
    margin-bottom: 6px;
    margin-top: -14px;
    font-size: 70%;
}
.card-title{
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 4px;
}
.card-footer span {
  margin-right: 5px;
}
